.mainNav{
    background-color: white;

    padding: 20px 2.5%;

    width: 95%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mainNav>a ,.mainNav>button{
    width: fit-content;

    color: var(--main-dark-blue);

    transition: 200ms color ease-in-out;
}

.mainNav>a{
    text-decoration: none;
}

.mainNav>a:hover{
    color: var(--main-light-blue);
}

.mainNav>button{
    padding: 10px 20px;

    cursor: pointer;

    border: 2px solid var(--main-dark-blue);
    border-radius: 7px;

    background-color: transparent;
}

.mainNav>button:hover{
    color: white;
    background-color: var(--main-dark-blue);
}

.mainNav>button:last-child{
    color: white;
    background-color: var(--main-dark-blue);
}

.mainNav>button:last-child:hover{
    background-color: white;
    color: var(--main-dark-blue);
}

@media screen and (max-width: 860px) {
    .mainNav{
        grid-row: 2/3;
        grid-column: span 3;

        flex-wrap: wrap;

        height: 400px;

        transition: 200ms transform linear;
        transform: translateX(-100%);
    }

    .mainNav>a {
        width: 75%;
    }

    .mainNav>button{
        width: 40%;
        height: 70px;
    }
}